.main
  .url_without_quote
    background url(./a.png)
  .url_with_quote
    background url(./b.png)
  .url_with_another_quote
    background url(./c.png)
  .url_with_http
    background url(http:\/\/www.taobao.com)
  .url_with_abspath
    background url(\/foo)